# ===================================
# DATABASE (POSTGRES)
# ===================================
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
DATABASE_URL=postgresql://your_postgres_user:your_postgres_password@postgres:5432/your_database_name

# ===================================
# BACKEND (NESTJS)
# ===================================
JWT_SECRET=your_jwt_secret
JWT_REFRESH_SECRET=your_jwt_refresh_secret

# ===================================
# FRONTEND (REACT)
# ===================================
FRONTEND_URL=http://localhost:5173

# ===================================
# 42 API (OAUTH)
# ===================================
FORTY_TWO_CLIENT_ID=your_42_client_id
FORTY_TWO_CLIENT_SECRET=your_42_client_secret
FORTY_TWO_CALLBACK_URL=http://localhost:3000/auth/42/callback

# ===================================
# EMAIL (GMAIL)
# ===================================
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password